<ul class="navbar">
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to 'Back to Accounts', accounts_url %></li>
</ul>
<h1>New Account</h1>

<%= render 'form' %>

<%= link_to 'Back', accounts_path %>
